.Blog {
}

.text {
  margin: 5% 0;
}

@media (max-width: 350px) {
  h1 {
    font-size: 3.5rem !important;
  }
}
@media (min-width: 350px) and (max-width: 450px) {
  h1 {
    font-size: 4.5rem !important;
  }
}
