.Footer {
  padding: 3rem 0;
  background: var(--lightGrey);
}

.Footer .Link {
  display: inline-block;
  padding: 0 1rem;
}

.Footer .Link .not_hovered,
.Footer .Link .not_idle {
  display: none;
}

.Footer .Footer--License {
  display: none;
}
