.Nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 6rem;
}

.Nav--SubHeader {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 1105px;
}

.Nav--Telephone svg {
  margin-right: 1rem;
  color: var(--primary);
  height: 22px;
  width: 22px;
}

.Nav--Telephone {
  float: left;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.Nav--Telephone span {
  font-size: 18px;
}

.Nav--Mail {
  float: left;
  font-weight: 500;
  font-size: 16px;
}

.Nav--Mail a {
  display: flex;
  color: var(--secondary);
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.Nav--Mail a:hover {
  color: var(--primary);
}

.Nav--Mail svg {
  margin-right: 1rem;
  color: var(--primary);
  height: 22px;
  width: 22px;
}

.Nav--Container .Nav--Sandwich {
  display: none;
}

.Nav--Container .Nav--Sandwich div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.Nav--Drawer {
  display: flex;
  justify-content: center;
}

.Nav--Drawer .Link {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.Nav--Drawer .NavLink {
  margin: 0;
  padding: 0.8rem 0;
  text-align: center;
}

.Nav--Desktop {
  display: flex;
}

.Nav .Link {
  margin-right: 3rem;
}

@media screen and (max-width: 450px) {
  .Nav--SubHeader {
    display: none;
  }
  .Nav--Telephone {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 3rem;
    padding: 3rem 2rem 2rem 2rem;
  }
  .Nav--Mail {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .Nav--Container .Nav--Sandwich {
    display: block;
    cursor: pointer;
    margin-right: 3rem;
  }

  .Nav--Desktop {
    display: none;
  }

  .Nav .Link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
