.Nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 6rem;
}

.Nav--Container .Nav--Sandwich {
  display: none;
}

.Nav--Container .Nav--Sandwich div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.Nav--Drawer {
  display: flex;
  justify-content: center;
}

.Nav--Drawer .Link {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.Nav--Drawer .NavLink {
  margin: 0.5rem 4rem;
  text-align: center;
}

.Nav--Desktop {
  display: flex;
}

.Nav .Link {
  margin-right: 3rem;
}

@media screen and (max-width: 600px) {
  .Nav--Container .Nav--Sandwich {
    display: block;
    cursor: pointer;
    margin-right: 3rem;
  }

  .Nav--Desktop {
    display: none;
  }

  .Nav .Link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
